/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

/* banners */
.banners {
	padding:0;
}
.banners img {
	width: 100%;
}

.banner-intro {
	font-size: 17px;
	font-weight: bold;
	color: #c9611f;
	padding-bottom: 6px;
}

.banner-description {
	font-size: 12px;
	font-weight: bold;
	color: #35373f;
}

img, object, embed {
    max-width: 100%;
}

.content {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.85);
	bottom: 22px;
	left: 15px;
	padding: 20px;
	position: absolute;
}

.orange-rule {
	background: #d4722f;
	display:block;
	height: 8px;
}

/* Top Nav */
.custom-nav-bar { background: #fff; }
.title-logo { padding-top: 10px; }

ul.menu-items {
	padding-top: 0px;
	margin-top: 50px;
	background: #f3f3f4;
}

ul.menu-items li, ul.menu-items li a {
	line-height: normal !important;
}

/* Content */
.main-wrapper {
	background: #f3f3f4;
}

.main-content {
	/*margin:0;
	padding:0;*/
	padding-top:40px;
}

.main-content h1 {
	text-align: center;
}

.main-content p {
	/*margin: 0;
	padding: 0;*/
	font-size: 0.75em;
	color: #193565;
	line-height: 1.5em;
}

/* About Us Sections */

.about-us-section {
	overflow:hidden;
	position: relative;
	border-bottom: 1px solid #dbdce0;
	margin-bottom: 37px;
}

.about-us-section:last-child {
	border-bottom: none;
}

.about-us-section-title {
	width: 175px;
	margin-left:auto;
	margin-right: auto;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	background: #048166;
	font-size: 0.75em;
	padding: 12px;
	margin-bottom: 20px;
	position:relative;
	z-index: 9999;
}
.about-us-seciton-title-rule {
	z-index: 1;
	height: 2px;
	background: #048166;
	position:absolute;
	top: 15px;
}

.about-us-seciton-title-container {
	position: relative;
}

.about-us-section.odd .about-us-section-title, .about-us-section.odd .about-us-seciton-title-rule {
	background: #19487a
}

.about-us-section-picture {
	padding-bottom: 23px;
}

a.link-button {
	display: block;
	background: #ebecee;
	color: #048166;
	padding: 9px;
	border: 1px solid #048166;
	font-weight: bold;
	width: 128px;
	float: right;
	margin-bottom: 13px;
}
.call-to-action-logo {
	/*position: fixed;
	z-index: 9999;
	margin-top: 192px;*/
	position: fixed;
	top:280px;
	right:73px;
	z-index: 9999;
}

/* footer */
.footer-wrapper {
	background: #35373f;
	padding-top: 22px;
}

.footer-section-title {
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	color: #f3f3f4;
	padding-bottom: 12px;
	margin-bottom: 12px;
	border-bottom: 1px solid #44444f;
}

.footer-section-content, .footer-section-content p, .footer-menu a {
	font-size: 12px;
	font-weight: bold;
	color: #b6b9c0;
}

.footer-menu a:hover {
	color: #d4722f;
}

.footer-menu {
	list-style-type: none;
	margin:0;
	padding:0;
	line-height: 1em;
}

/* misc */
.hide {
	display:none;
}

/* mobile */
@media only screen and (max-width: 40em) { 
	.banners .content { display:none; }
	/* Content */
	.main-content {
		margin:0;
		padding:15px;
	}
	
	ul.menu-items {
		padding-top: 10px;
		margin-top: 0;
	}
} 

/* tablet */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { 
	/* Content */
	.main-content {
		margin:0;
		padding:15px;
	}
	
	ul.menu-items {
		padding-top: 0px;
		margin-top: -10px;
	}

	ul.menu-items li, ul.menu-items li a {
		line-height: normal !important;
	}
} /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */