/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */

.banners {
	padding:0;
}
.banners img {
	width: 100%;
}
img, object, embed {
    max-width: 100%;
}

.content {
	background: none repeat scroll 0 0 rgba(255, 255, 255, 0.85);
	bottom: 22px;
	padding: 20px;
	position: absolute;
}

.orange-rule {
	background: #d4722f;
	display:block;
	height: 8px;
}

/* Top Nav */
.custom-nav-bar { background: #fff; }
.title-logo { padding-top: 10px; }

/* Content */
.main-content {
	/*margin:0;
	padding:0;*/
	padding-top:40px;
}

.main-content h1 {
	text-align: center;
}

.main-content p {
	/*margin: 0;
	padding: 0;*/
	font-size: 0.75em;
	color: #193565;
	line-height: 1.5em;
}

/* About Us Sections */
.about-us-section {
	overflow:hidden;
	position: relative;
	border-bottom: 1px solid #dbdce0;
}
.about-us-section-title {
	width: 175px;
	margin-left:auto;
	margin-right: auto;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	background: #048166;
	font-size: 0.75em;
	padding: 12px;
	margin-bottom: 20px;
	position:relative;
	z-index: 9999;
}
.about-us-seciton-title-rule {
	z-index: 1;
	height: 2px;
	background: #048166;
	position:absolute;
	top: 15px;
}
a.link-button {
	display: block;
	background: #ebecee;
	color: #048166;
	padding: 9px;
	border: 1px solid #048166;
	font-weight: bold;
	width: 128px;
	float: right;
	margin-bottom: 13px;
}
.call-to-action-logo {
	position: absolute;
	z-index: 9999;
	margin-top: 192px;
	padding-left: 35px;
}

@media only screen and (max-width: 40em) { 
	.banners .content { display:none; }
} 